{% extends "base.html" %} {% block content %}
<div class="row align-items-center">
  <div class="col-md-6">
    <h1>¿Por qué es importante cuidar el medio ambiente?</h1>
    <p class="lead">
      El medio ambiente es la base de la vida. Protegerlo garantiza bienestar,
      salud y recursos para las futuras generaciones.
    </p>
    <p>
      En los últimos años, el deterioro ambiental se ha acelerado debido a la
      contaminación, la sobreexplotación de recursos y el cambio climático. La
      conciencia ambiental busca informar y motivar a las personas a actuar
      responsablemente para proteger nuestro entorno.
    </p>

    <p>
      Pequeñas acciones como ahorrar agua, reducir el consumo de plásticos y
      separar residuos pueden generar un impacto positivo a gran escala.
    </p>
  </div>
  <div class="col-md-6">
    <img
      src="{{ url_for('static', filename='images/import-med_amb.jpg') }}"
      class="img-fluid rounded"
    />
  </div>
</div>
{% endblock %}
